{% extends 'block/base.html' %}
{% load static %}
{% block title %}
    SignUp
{% endblock title %}

{% block content %}

    
<div class="container" style="font-family: 'Courgette', cursive;">
    <h3 class="display-4 text-center my-3 text-light">Change Password</h3>
</div>

<section class="">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-2">
  
                <h2 class="fw-bold mb-2 text-uppercase">Remember</h2>
               
                <p class="text-white-50 mb-5">New password</p>
               
                <form action="/forgotpassword/" method="post">
                  {% csrf_token %}

                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control form-control-lg bg-dark text-light" placeholder="Username" name="Funame"/>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" class="form-control form-control-lg bg-dark text-light" placeholder="Enter new password" name="Fpasswd"/>
                    <p class="text-white-50 mb-3 float-start">Password should be unique</p>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" class="form-control form-control-lg bg-dark text-light" placeholder="Confirm password" name="Fpasswd1"/>
                    <p class="text-white-50 mb-3 float-start">Confirm the password</p>
                </div>
    
                  <button class="btn btn-outline-light btn-lg mt-5 px-5" type="submit">Confirm password</button>
                </form>
                  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
